@model WeatherResult.Models.WeatherResultModel

@{

    /*
         * Code Citations:
         * Citation #1
         * Citation #2
         * Citation #18
         * Citation #19
         * Citation #25
        */
    ViewData["Title"] = "Weather Result";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Result</title>
</head>
<body>

    <h3>@ViewBag.name  @ViewBag.region</h3>
    <h4>Local Time: @ViewBag.localtime</h4>
    <h4>State: @ViewBag.region</h4>
    <h4>Country: @ViewBag.country</h4>
    <h4>Temperature: @ViewBag.temp_f (F)  @ViewBag.temp_c (C)</h4>
    <h4>Wind Speed: @ViewBag.wind_mph (mph)  @ViewBag.wind_kph (kph)</h4>
    <h4>Humidity: @ViewBag.humidity</h4>
    <h4>UV Index: @ViewBag.uv</h4>
</body>
</html>

